//colors
$colors: (
  'white': #ffffff,
  'white-1': #f4f4f4,
  'white-2': #f5f5f5,
  'grey-1': #d2d2d2,
  'grey-2': #d6d4d5,
  'grey-3': #979797,
  'grey-4': #999999,
  'grey-5': #656565,
  'black': #333333,
);
$border-color: map-get($colors, 'black');

//font size
$base-font-size: 1rem;
$font-sizes: (
  sm: 0.8571, //12px
  md: 1, //14px
  lg: 1.1428, //16px
  xl: 1.2857, //18px
  xxl: 1.8571, //26px
);

//flex
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
);

//margin padding
$spacing-types: (
  m: margin,
  p: padding,
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);
